.container {
    display: flex;
}
  
.categories {
    width: 20%;
}

.content {
    width: 60%;
}

.sidebar {
    width: 20%;
}

.flex-content {
    display: flex;
}

.label-item {
    width: 20%;
}

.input-item {
    width: 80%;
}

.label-item label {
    display: block;
    margin-top: 5px;
    height: 24px;
    padding: 2px;
}

input {
    display: block;
    height: 24px;
    width: 50%;
    margin-top: 5px;
}

.gender input {
    display: initial;
    vertical-align: middle;
    width: 2%;
}

/* CSS for sreen list user */
table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

td {
    height: 30px;
}

button {
    width: 40%;
    border-radius: 1px;
}